# ==========================================
# Entorno de Desarrollo (OS)
# ==========================================
.DS_Store
Thumbs.db
*~

# ==========================================
# IDEs y Editores (VS Code, IntelliJ, Eclipse)
# ==========================================
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/

# ==========================================
# Backend: Spring Boot / Maven (Java)
# ==========================================
target/
*.jar
*.war
*.ear
*.class
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# ==========================================
# Frontend: Node / NPM / VITE / React / Angular
# ==========================================
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# Docker y Variables de Entorno (Seguridad)
# ==========================================
.env
*.env
*.env.*
!.env.example
docker-compose.override.yml
